{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ultras - Clothing Store</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'icomoon/icomoon.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/vendor.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/css2.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- script
    ================================================== -->
  <script src="{% static 'js/modernizr.js' %}"></script>
</head>

<body>

  <div class="preloader-wrapper">
    <div class="preloader">
    </div>
  </div>

  <div class="error-page">
    <img src="{% static 'images/error-image.jpg' %}" alt="error-page">
    <div class="page-content text-center">
      <div class="col-md-6">
        <div class="site-banner">
          <h1 class="page-title">Error 404</h1>
        </div>
        <p>Sorry, the page that you’re looking for doesn’t exist.</p>
        <div class="btn-wrap">
          <a href="/index" class="btn btn-light btn-medium d-flex align-items-center" tabindex="0">Go back to home<i
              class="icon icon-arrow-io"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>