{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ultras - Clothing Store</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'icomoon/icomoon.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/vendor.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/css2.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- script
    ================================================== -->
  <script src="{% static 'js/modernizr.js' %}"></script>
</head>

<body>
  {% include 'header.html' %}

  <section class="site-banner jarallax padding-large"
    style="background: url({% static 'images/hero-image.jpg' %}) no-repeat; background-position: top;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="page-title">FAQs</h1>
          <div class="breadcrumbs">
            <span class="item">
              <a href="/index">Home /</a>
            </span>
            <span class="item">FAQs</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="faqs padding-large">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="section-header">
            <h2 class="section-title">Frequently asked questions</h2>
            <p>Malesuada nunc vel risus commodo viverra. Viverra accumsan in nisl nisi. Pretium nibh ipsum consequat
              nisl vel pretium. Tortor dignissim convallis aenean et tortor at risus viverra adipiscing.</p>
          </div>
          <div class="accordion" id="accordionExample2">
            <div class="accordion-item">
              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#accordion-collapse1" aria-expanded="true" aria-controls="accordion-collapse1">
                <h3>What is true fashion?</h3>
              </button>
              <div id="accordion-collapse1" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample2">
                <div class="accordion-body"> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. </div>
              </div>
            </div>
            <div class="accordion-item">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#accordion-collapse2" aria-expanded="false" aria-controls="accordion-collapse2">
                <h3>Will i get refund?</h3>
              </button>
              <div id="accordion-collapse2" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample2">
                <div class="accordion-body"> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. </div>
              </div>
            </div>
            <div class="accordion-item">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#accordion-collapse3" aria-expanded="false" aria-controls="accordion-collapse3">
                <h3>Is this website verified?</h3>
              </button>
              <div id="accordion-collapse3" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample2">
                <div class="accordion-body"> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="contact-information">
            <div class="section-header">
              <h2 class="section-title">Ask us anything</h2>
              <p>Viverra accumsan in nisl nisi. Pretium nibh ipsum consequat nisl vel pretium. Tortor dignissim
                convallis aenean et tortor at risus viverra adipiscing.</p>
            </div>
            <form name="contactform" action="contact.php" method="post" class="contact-form">
              <div class="form-item">
                <input type="text" minlength="2" name="name" placeholder="Name" class="u-full-width bg-light" required>
                <input type="email" name="email" placeholder="E-mail" class="u-full-width bg-light" required>
                <textarea class="u-full-width bg-light" name="message" placeholder="Message" style="height: 180px;"
                  required></textarea>
              </div>
              <label>
                <input type="checkbox" required>
                <span class="label-body">I agree all the <a href="/#">terms and conditions</a>
                </span>
              </label>
              <button type="submit" name="submit" class="btn btn-dark btn-full btn-medium">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="instagram" class="padding-large">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title">Follow our instagram</h2>
      </div>
      <p>Our official Instagram account <a href="/#">@ultras</a> or <a href="/#">#ultras_clothing</a>
      </p>
      <div class="row d-flex flex-wrap justify-content-between">
        <div class="col-lg-2 col-md-4 col-sm-6">
          <figure class="zoom-effect">
            <img src="{% static 'images/insta-image1.jpg' %}" alt="instagram" class="insta-image">
            <i class="icon icon-instagram"></i>
          </figure>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <figure class="zoom-effect">
            <img src="{% static 'images/insta-image2.jpg' %}" alt="instagram" class="insta-image">
            <i class="icon icon-instagram"></i>
          </figure>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <figure class="zoom-effect">
            <img src="{% static 'images/insta-image3.jpg' %}" alt="instagram" class="insta-image">
            <i class="icon icon-instagram"></i>
          </figure>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <figure class="zoom-effect">
            <img src="{% static 'images/insta-image4.jpg' %}" alt="instagram" class="insta-image">
            <i class="icon icon-instagram"></i>
          </figure>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <figure class="zoom-effect">
            <img src="{% static 'images/insta-image5.jpg' %}" alt="instagram" class="insta-image">
            <i class="icon icon-instagram"></i>
          </figure>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <figure class="zoom-effect">
            <img src="{% static 'images/insta-image6.jpg' %}" alt="instagram" class="insta-image">
            <i class="icon icon-instagram"></i>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section id="shipping-information">
    <hr>
    <div class="container">
      <div class="row d-flex flex-wrap align-items-center justify-content-between">
        <div class="col-md-3 col-sm-6">
          <div class="icon-box">
            <i class="icon icon-truck"></i>
            <h4 class="block-title">
              <strong>Free shipping</strong> Over $200
            </h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="icon-box">
            <i class="icon icon-return"></i>
            <h4 class="block-title">
              <strong>Money back</strong> Return within 7 days
            </h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="icon-box">
            <i class="icon icon-tags1"></i>
            <h4 class="block-title">
              <strong>Buy 4 get 5th</strong> 50% off
            </h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="icon-box">
            <i class="icon icon-help_outline"></i>
            <h4 class="block-title">
              <strong>Any questions?</strong> experts are ready
            </h4>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </section>

  <footer id="footer">
    <div class="container">
      <div class="footer-menu-list">
        <div class="row d-flex flex-wrap justify-content-between">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-menu">
              <h5 class="widget-title">Ultras</h5>
              <ul class="menu-list list-unstyled">
                <li class="menu-item">
                  <a href="/about">About us</a>
                </li>
                <li class="menu-item">
                  <a href="/#">Conditions </a>
                </li>
                <li class="menu-item">
                  <a href="/blog">Our Journals</a>
                </li>
                <li class="menu-item">
                  <a href="/#">Careers</a>
                </li>
                <li class="menu-item">
                  <a href="/#">Affiliate Programme</a>
                </li>
                <li class="menu-item">
                  <a href="/#">Ultras Press</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-menu">
              <h5 class="widget-title">Customer Service</h5>
              <ul class="menu-list list-unstyled">
                <li class="menu-item">
                  <a href="/faqs">FAQ</a>
                </li>
                <li class="menu-item">
                  <a href="/contact">Contact</a>
                </li>
                <li class="menu-item">
                  <a href="/#">Privacy Policy</a>
                </li>
                <li class="menu-item">
                  <a href="/#">Returns & Refunds</a>
                </li>
                <li class="menu-item">
                  <a href="/#">Cookie Guidelines</a>
                </li>
                <li class="menu-item">
                  <a href="/#">Delivery Information</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-menu">
              <h5 class="widget-title">Contact Us</h5>
              <p>Do you have any questions or suggestions? <a href="/#" class="email">ourservices@ultras.com</a>
              </p>
              <p>Do you need assistance? Give us a call. <br>
                <strong>+57 444 11 00 35</strong>
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-menu">
              <h5 class="widget-title">Forever 2018</h5>
              <p>Cras mattis sit ornare in metus eu amet adipiscing enim. Ullamcorper in orci, ultrices integer eget
                arcu. Consectetur leo dignissim lacus, lacus sagittis dictumst.</p>
              <div class="social-links">
                <ul class="d-flex list-unstyled">
                  <li>
                    <a href="/#">
                      <i class="icon icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="/#">
                      <i class="icon icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="/#">
                      <i class="icon icon-youtube-play"></i>
                    </a>
                  </li>
                  <li>
                    <a href="/#">
                      <i class="icon icon-behance-square"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </footer>

  <div id="footer-bottom">
    <div class="container">
      <div class="d-flex align-items-center flex-wrap justify-content-between">
        <div class="copyright">
          <p>Freebies by <a href="https://templatesjungle.com/">Templates Jungle</a>
          </p>
        </div>
        <div class="payment-method">
          <p>Payment options :</p>
          <div class="card-wrap">
            <img src="{% static 'images/visa-icon.jpg' %}" alt="visa">
            <img src="{% static 'images/mastercard.png' %}" alt="mastercard">
            <img src="{% static 'images/american-express.jpg' %}" alt="american-express">
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>